%header
  = link_to logo, root_path
  #round
    %ul
      %li
        = link_to "Home", root_path
      %li
        = link_to "Users", #
      %li
        = link_to "Profile", #
      %li
        = link_to "Settings", #
      %li
        = link_to "Help", #
      %li
        = link_to "Sign out", #
      %li
        = link_to "Sign in", #
